<!DOCTYPE HTML>
<html>
	<%- include('../partials/head') %>
	<body class="landing is-preload">

		<!-- Check if there's an alertMessage and display it as a pop-up -->
        <% if (typeof alertMessage !== 'undefined') { %>
         <script>
             alert("<%= alertMessage %>");
         </script>
         <% } %>
		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>המכולת של הרצל</h2>
							<h1>ברוכים הבאים</h1><br /><br />
						</div>
						<form action="/grocery/login" method="POST" class="login-form">
							<div class="login-container">
								<input type="text" name="username" placeholder="שם משתמש" required class="input"><br/>
								<input type="password" name="password" placeholder="סיסמא" required class="input"><br/>
								<ul class="actions special">
									<li><input type="submit" class="button" value="היכנס"></li>
								</ul>
							</div>
							<ul class="actions special">
								<button id="registerBtn" class="button primary" type="button">הירשם</button>
							</ul>
						</form>

						
						<div id="registerModal" class="modal hidden"> 
							<form id="addForm" method="POST" action="/grocery/signup">
								<span id="closeRegisterModal" class="close-button">&times;</span>
								<label>שם חברה:</label>
								<input type="text" name="company_name" required />
								<label>מספר טלפון</label>
								<input type="tel" name="phone" required />
								<label>שם  נציג:</label>
								<input type="text" name="representative_name" required />
								<label>סיסמה:</label>
								<input type="password" name="password" required />
						  
								<div class="modal-actions">
								  <button type="submit" class="button primary">הוסף</button>
								</div>
							  </form>
						  </div>			  
                       

		<!-- Scripts -->
		<script>
			document.addEventListener("DOMContentLoaded", function () {
			  const modal = document.getElementById("registerModal");
			  const openBtn = document.getElementById("registerBtn");
			  const closeBtn = document.getElementById("closeRegisterModal");
		  
			  openBtn.addEventListener("click", () => {
				modal.classList.remove("hidden");
			  });

			  closeBtn.addEventListener("click", () => {
              modal.classList.add("hidden");
              });
			});
		  </script>
		  
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>