<header id="header" class="alt">
    <h1><a href="/grocery">Spectral</a></h1>
    <nav id="nav">
        <ul>
            <li class="special">
                <a href="#menu" class="menuToggle">תפריט</a>
                <div id="menu">
                    <ul>
                        <li><a href="/grocery/products">הזמנת מוצרים</a></li>
                        <li><a href="/grocery/orders">ניהול הזמנות</a></li>
                        <li><a href="/grocery/inventory">ניהול אוטומטי</a></li>
                        <li><a href="/grocery/logout">התנתק</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
</header>